{% extends 'base.html.twig' %}

{% block title %}Accueil{{ parent() }}{% endblock %}

{% block body %}
    <section id="hero-banner">
        <h1>Reformed Family eSport Club</h1>
        <h2>LE NOUVEAU CHALLENGER MADE IN FRANCE</h2>
    </section>
    <section id="index-presentation">
        <div class="container">
            <h2>Qui sommes nous ?</h2>
            <p>Créer en 2019, la Reformed Family est un club d'eSport qui a pour objectif de se professionnaliser dans les prochaines années.
    Notre équipe est bien pus que ça, une famille, des joueurs soudés qui vont tous dans la même direction et qui sont passionnés avant tout.
    L'eSport est pour nous l'avenir des compétitions haut niveau, c'est pour cela qu'à l'aide de nos partenaires nous visons les sommets
    et comptons sur vous pour nous soutenir dans l'avenir et réaliser de GRANDE chose !</p>
        </div>
    </section>
{% endblock %}
