// colors
$primary:#8A2CB9;
$black: #191919;
$white: #fdfcfb;

// taille de police mobile
$h1mobile: 1.5rem;
$h2mobile: 1.25rem;
$h3mobile: 1.15rem;
$pmobile: 0.8rem;

//taille tablette
$h1tablette: 2.5rem;
$h2tablette: 1.6rem;
$h3tablette: 1.4rem;
$ptablette: 1rem;

// taille de police
$h1: 3.5rem;
$h2: 2.2rem;
$h3: 1.5rem;
$p: 1rem;