{% extends 'base.html.twig' %}

{% block body %}
<div class="container edit-user">
    {{ form_start(form, {'attr' : {'class': 'form-edit-user'}}) }}
        {{ form_row(form.username, {label: 'Votre Pseudo'}) }}
        {{ form_row(form.email, {label: 'Votre adresse mail'}) }}
    {{ form_end(form) }}
</div>
{% endblock %}