#article-page {
    h1 {
        color: $primary;
        text-align: center;
        margin: 1.5rem 0;
    }
    .search-field {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border: 1px solid var(--text-color);
        padding: 5px 10px;
        border-radius: 5px;
        border: black solid 1px;
        width: max-content;
        margin: auto;
    }
    .search-field input {
        border: transparent;
    }
    .article-display {
        text-align: center;
        .card-article {
            box-shadow: 2px 2px 20px $primary;
            background-color: $black;
            margin: 1.5rem auto;
            width: 90%;
            .game-cat {
                color: $white;
                background-color: $primary;
                border-radius: 5px;
                padding: 0.2rem;
                margin: auto;
            }
            .article-text {
                padding: 1rem 2rem;
                h3 {
                    color: $primary;
                    font-family: $quicksand;
                }
                p {
                    color: $white;
                }
            }
        }

        @media screen and (min-width: 700px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }   
        @media screen and (min-width: 980px) {   
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 4rem;
            .card-article {
                width: 100%;
                &:hover {
                    transition: transform 0.3s ease-in;
                    transform: translateY(-5px);
                }
            }
        }
    }
    .pagination {
        display: flex;
        justify-content: center;
        gap: 1rem;
        color: $primary;
        font-weight: 700;
        margin-bottom: 2rem;
        span {
            width: 25px;
            height: 25px;
            text-align: center;
            &:hover {
                transform: translateY(-2px);
                transition: transform 0.2s ease-in-out;
            }
        }
    }
}
#article-show {
    .container {
        margin: auto;
        color: $primary;
        text-align: center;
        
        @media screen and (min-width: 800px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            .article-show-text div {
                text-align: left;
            }
        }
        .article-show-text {
            margin-bottom: 1rem;
        }
        .return-btn {
            display: inline-block;
            width: 250px;
            background-color: $primary;
            padding: 10px 20px;
            color: $white;
            border-radius: 10px;
            position: relative;
            transition: 0.5s ease-in-out;
            &:before {
                content: '<<';
                font-weight: 800;
                position: absolute;
                opacity: 0; 
                left: 10px;
                transition: 0.5s ease-in-out;
            }    
            &:hover {
                padding-left: 50px;
                &:before {
                    opacity: 1;
                }
            }
        }
    }
}
#article-commentaire {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    background-color: $primary;
    h2 {
        color: $white;
    }
    .commentaire-box {
        background-color: $white;
        padding: 0.5rem;
        margin: 1rem 0;
        &:nth-child(even) {
            text-align: right;
        }
        .pseudo-author {
            font-weight: 800;
        }
    }
    .be-connected {
        color: $white;
        a {
            font-weight: 800;
        }
    }
    .add-commentaire {
        div {

            display: flex;
            flex-direction: column;
            color: $white;
            margin-bottom: 1rem;
            textarea {
                resize: vertical;
            }
            button {
                background-color: $black;
                color: $white;
                cursor: pointer;
                border: solid 2px $black;
                border-radius: 10px;
                padding: 10px 30px;
                margin: auto;
                &:hover {
                    transition: transform 0.3s ease-in;
                    transform: translateY(-5px);
                }
            }
        }
    }
}
.form-commentaire {
    height: 60vh;
    div {

        display: flex;
        flex-direction: column;
        color: $white;
        margin-bottom: 1rem;
        textarea {
            resize: vertical;
        }
        button {
            background-color: $black;
            color: $white;
            cursor: pointer;
            border: solid 2px $black;
            border-radius: 10px;
            padding: 10px 30px;
            margin: auto;
            &:hover {
                transition: transform 0.3s ease-in;
                transform: translateY(-5px);
            }
        }
    }
}