h1 { 
    font-size: $h1mobile;
}
h2 {
    font-size: $h2mobile;
}
h3 {
    font-size: $h3mobile;
}
h1, h2, h3, h4 {
    font-family: $fugaz;
}
p {
    font-size: $pmobile;
}
body {
    background-color: $white;
    min-height: 90vh;
}
.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
}

@media screen and (min-width: 900px) {
    h1 { 
        font-size: $h1tablette;
    }
    h2 {
        font-size: $h2tablette;
    }
    h3 {
        font-size: $h3tablette;
    }
    p {
        font-size: $ptablette;
    }
}
@media screen and (min-width: 1200px) {
    h1 { 
        font-size: $h1;
    }
    h2 {
        font-size: $h2;
    }
    h3 {
        font-size: $h3;
    }
    p {
        font-size: $p;
    }
}