<footer>
    <div class="footer-container">
        <div class="footer-social">
            <h3>Suivez nous sur nos réseaux</h3>
            <div class="social">
                <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
                <a href=""><ion-icon name="logo-discord"></ion-icon></a>
                <a href=""><ion-icon name="logo-youtube"></ion-icon></a>
            </div>
        </div>
        <nav class="footer-nav">
            <a class="hover-underline-animation" href="">Actualités</a>
            <a class="hover-underline-animation" href="">Equipes</a>
            <a class="hover-underline-animation" href="">Devenir partenaire</a>
        </nav>
    </div>
    <div class="copyright"><h3>&copy Jordy Le Roux - 2022</h3></div>
</footer>